# IDE files
.idea/

# Composer files
composer.lock
composer.phar
/vendor/

# Unit test output directory
reports/

# Test resources. Some sample files are checked in here, but we exclude files created during tests
/resources/

# Ignore PHP CS Fixer local config and cache
.php_cs
.php_cs.cache
.php-cs-fixer.cache

# Ignore cached PHPUnit results.
.phpunit.result.cache
.phpunit.cache
