<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="deepl-php Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <cobertura outputFile="reports/cobertura.xml" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="reports/junit.xml" />
    </logging>
</phpunit>